<h1>To-Do Checklist</h1>
<ul>
<% @items.each do |item| %>
 <li> <%=item.name %> </li>
<% end %>
</ul>
<%= render "items/new" %>
<!--
 Tasks:
   1. Checklist item MVC start
   2. Form to add checklist item (Aaron)
   3. Strikethrough checklist item in view w/undo

Note Model:
	Text -> Charfield
	Checked -> Boolfield
-->
