 <%=form_for @item, url: {action: "create"}, html:{class: "item_form form-inline"} do |f| %>
  <div class="form-group">
  <%= f.text_field :name, class: "form-control" %>
  <%= f.submit "Create", class: "btn btn-primary" %>
  </div>
<% end %>
