/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background:#EEEEEE;
	font-family: Helvetica
}

h1 {
	text-align: center;
    padding-top: 50px;
    font-weight: 200;
    color: #454545;
}

label {
	display: inline;
}

input {
	margin: 0px;
}

.checkItem {
	width: 100px;
    left: calc(50% - 100px);
    position: relative;
}

.item_form {
	width: 300px;
	left: calc(50% - 100px);
	position: absolute;
	padding-top: 5px;
}