// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$border-color: rgb(244, 229, 186);
$item-padding: 10px;

body{
  background:#EEEEEE;
	font-family: Helvetica;

  h1{
    text-align: center;
      padding-top: 50px;
      font-weight: 200;
      color: #454545;
  }

  input {
  	margin: 0px;
  }

  input:checked + label.item-label{
    text-decoration: line-through;
  }

  label.item-label{
    font-weight: normal;
    font-size: 1.5em;
  }

  div.list-item{
    padding-top: $item-padding;
    padding-bottom: $item-padding;
    padding-left: $item-padding;
    background-color: rgb(255, 239, 193);
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }

  div.form-group{
    margin-top: 20px;
    padding-left: $item-padding;
  }

  span.delete-item{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding-right: $item-padding;
    float:right;
    cursor: pointer;
  }
}
