// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$border-color: rgb(244, 229, 186);
$item-padding: 10px;

body {
	background:#EEEEEE !important;
	font-family: Helvetica;
}

h1 {
	text-align: center;
    padding-top: 50px;
    font-weight: 200;
    color: #454545;
}

label {
	display: inline;
}

input {
	margin: 0px;
}

input:checked + label{
  text-decoration: line-through;
}

.checkItem {
	width: 200px;
  left: calc(50% - 100px);
  position: relative;
}

.item_form {
	width: 300px;
	left: calc(50% - 100px);
	position: absolute;
	padding-top: 5px;
}

span{
  cursor: pointer;
}
